.statistics-classification-binary {
	.code-options {
		.code-input {
			clear: both;
		}
		label {
			display: block;
			float: left;
			width: 25%;
			text-align: right;
		}
		input, textarea {
			display: block;
			float: right;
			width: 74%;
			font-family: monospace;
		}
		button {
			display: block;
			float: right;
		}
	}
}
